In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
try:
    import empyrical as emp
except:
    emp = None
import tushare as ts
import time
import random
# from concurrent.futures import ProcessPoolExecutor

from common.log import *
from common.config import Config
from spider.spider_nasdaq import Spider_nasdaq
from spider.spider_coinmarketcap import Spider_coinmarketcap

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts

CONF = Config('../conf/secret.yaml').data[0]
ts_token = CONF['TUSHARE']['TOKEN']
ts.set_token(ts_token)
pro = ts.pro_api()

CONF = Config().data[0]
MONGODB = CONF['MONGODB']
NASDAQ = CONF['NASDAQ']
CRYPTOCURRENCY = CONF['CRYPTOCURRENCY']
CRYPTOCURRENCY = list(CRYPTOCURRENCY.keys())
NASDAQ100 = CONF['NASDAQ100']
HS300 = list(ts.get_hs300s()['code'])
ZZ500 = list(ts.get_zz500s()['code'])
SZ50 = list(ts.get_sz50s()['code'])
HSALL = list(set(ts.get_stock_basics().index) - set(['601162', '002940', '002939', '300674', '002941']))
HSALL = HSALL + ['000866', '600001', '000956']

BENCHMARK = '399300'
# TARGET = ['399300']
TARGET = HS300
# BENCHMARK = '000905'
# TARGET = ZZ500
# BENCHMARK = '000016'
# TARGET = SZ50
# TARGET = HSALL

# BENCHMARK = 'NDX'
# TARGET = NASDAQ100

# BENCHMARK = 'BITCOIN'
# TARGET = CRYPTOCURRENCY
# BENCHMARK = 'EOS'
# TARGET = ['EOS']

ALL_TARGET = TARGET[:]

pd
len(TARGET)
# TARGET

d:\python3\lib\site-packages\tushare\stock\classifying.py:266: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  ct.PAGES['sz50b']), parse_cols=[0, 4, 5])

300

In [ ]:
SZ50_20121212 = ['600000', '600010', '600015', '600016', '600019', '600028',
 '600030', '600031', '600036', '600048', '600050', '600058',
 '600068', '600089', '600104', '600111', '600188', '600348',
 '600362', '600383', '600489', '600519', '600547', '600585',
 '600837', '600900', '601006', '601088', '601111', '601118',
 '601166', '601168', '601169', '601288', '601299', '601318',
 '601328', '601398', '601600', '601601', '601628', '601668',
 '601699', '601766', '601818', '601857', '601898', '601899',
 '601958', '601989']

SZ50_20151204 = ['600000', '600010', '600015', '600016', '600018', '600028',
'600030', '600036', '600048', '600050', '600111', '600104',
'600109', '600111', '600150', '600256', '600406', '600518',
'600519', '600583', '600585', '600637', '600690', '600837',
'600887', '600893', '600958', '600999', '601006', '601088',
'601166', '601169', '601186', '601288', '601318', '601328',
'601390', '601398', '601601', '601628', '601668', '601688',
'601766', '601800', '601818', '601857', '601901', '601988',
'601989', '601998']

SZ50_20160325 = ['600000', '600010', '600015', '600016', '600018', '600028',
'600030', '600036', '600048', '600050', '600104', '600109',
'600111', '600150', '600518', '600519', '600585', '600637',
'600795', '600837', '600887', '600893', '600958', '600999',
'601006', '601088', '601166', '601169', '601186', '601211',
'601288', '601318', '601328', '601336', '601390', '601398',
'601601', '601628', '601668', '601669', '601688', '601766',
'601800', '601818', '601857', '601901', '601985', '601988',
'601989', '601998']

SZ50_20161212 = ['600000', '600016', '600028', '600029', '600030', '600036',
'600048', '600050', '600100', '600104', '600109', '600111',
'600485', '600518', '600519', '600547', '600637', '600837',
'600887', '600893', '600958', '600999', '601006', '601088',
'601166', '601169', '601186', '601198', '601211', '601288',
'601318', '601328', '601336', '601377', '601390', '601398',
'601601', '601628', '601668', '601688', '601766', '601788',
'601800', '601818', '601857', '601901', '601985', '601988',
'601989', '601998']

SZ50_20171213 = ['600000', '600016', '600019', '600028', '600029', '600030',
'600036', '600048', '600050', '600104', '600111', '600309',
'600340', '600518', '600519', '600547', '600606', '600837',
'600887', '600919', '600958', '600999', '601006', '601088',
'601166', '601169', '601186', '601211', '601229', '601288',
'601318', '601328', '601336', '601390', '601398', '601601',
'601628', '601668', '601669', '601688', '601766', '601800',
'601818', '601857', '601878', '601881', '601985', '601988',
'601989', '603993']

FULL_SZ50 = SZ50_20121212 + SZ50_20151204 + SZ50_20160325 + SZ50_20161212 + SZ50_20171213 + list(ts.get_sz50s()['code'])
FULL_SZ50 = list(set(FULL_SZ50))

# TARGET = FULL_SZ50
# ALL_TARGET = TARGET[:]

In [ ]:
%%time

IS_DOWNLOAD_DATA = False
spider_n = Spider_nasdaq()
spider_c = Spider_coinmarketcap()
timeframe = '10y'
ignore = True

for symbol in TARGET + [BENCHMARK]:
    if not IS_DOWNLOAD_DATA:
        break
        
    print(symbol)

    # 沪深300指数
    if symbol in ['399300', '000905', '000016']:
        df = ts.get_k_data(code=symbol, index=True, start='2005-01-01', end=time.strftime('%Y-%m-%d'))
        datafile = '../database/market/%s.csv' % symbol
        df.to_csv(datafile, index=False, encoding='utf-8')
        
    # A股
    elif symbol in HS300 or symbol in ZZ500 or symbol in HSALL or symbol in FULL_SZ50:
        df = ts.get_k_data(code=symbol, ktype='D', autype='qfq', index=False, start='2005-01-01', end=time.strftime('%Y-%m-%d'))
        datafile = '../database/market/%s.csv' % symbol
        df.to_csv(datafile, index=False, encoding='utf-8')
        
    # NASDAQ
    elif symbol in NASDAQ100:
        datafile = None
        while datafile is None:
            try:
                datafile = spider_n.get_stock_data(symbol, timeframe)
            except:
                time.sleep(5)
    
    # CRYPTOCURRENCY
    elif symbol in CRYPTOCURRENCY:
        datafile = spider_c.get_coin_data(symbol, start_date='20100101', end_date=time.strftime('%Y%m%d'))
        
#     print(datafile)
    time.sleep(1)

In [ ]:
full_df.to_csv('../database/HS300IDX_2007-2009.csv', index=False, encoding='utf-8')

In [5]:
# pro.index_basic(market='CSI')

In [12]:
pro.index_weight(index_code='000905.SH', start_date='2005-01-01', end_date='2007-01-01')

Empty DataFrame
Columns: [index_code, con_code, trade_date, weight]
Index: []

In [7]:
# ts.get_k_data(code='000905', index=True, start='2005-01-01', end=time.strftime('%Y-%m-%d'))

In [15]:
flag = 0
full_df = None
for today in pd.period_range(start='2015-01-01', end='2019-01-01', freq='D'):
    if flag == 0:
        start_date = today.strftime('%Y%m%d')
        flag = 1
    elif flag == 1:
        end_date = today.strftime('%Y%m%d')
        df = pro.index_weight(index_code='000905.SH', start_date=start_date, end_date=end_date)
        if full_df is not None:
            full_df = pd.concat([full_df, df], ignore_index=True)
        else:
            full_df = df.copy()
        if len(df) != 0:
            today , len(df), len(full_df)
            pass
        flag = 0
        time.sleep(1)

len(full_df)
full_df.to_csv('../database/ZZ500IDX_2015-2018.csv', index=False, encoding='utf-8')
full_df



# start_date = '20050101'
# end_date = '20050201'
# pro.index_weight(index_code='399300.SZ', start_date=start_date, end_date=end_date)

(Period('2015-01-30', 'D'), 500, 500)

(Period('2015-02-27', 'D'), 500, 1000)

(Period('2015-03-31', 'D'), 500, 1500)

(Period('2015-04-30', 'D'), 500, 2000)

(Period('2015-05-30', 'D'), 500, 2500)

(Period('2015-07-01', 'D'), 500, 3000)

(Period('2015-07-31', 'D'), 500, 3500)

(Period('2015-09-01', 'D'), 500, 4000)

(Period('2015-10-01', 'D'), 500, 4500)

(Period('2015-10-31', 'D'), 500, 5000)

(Period('2015-11-30', 'D'), 500, 5500)

(Period('2016-01-01', 'D'), 500, 6000)

(Period('2016-01-29', 'D'), 500, 6500)

(Period('2016-03-01', 'D'), 500, 7000)

(Period('2016-03-31', 'D'), 500, 7500)

(Period('2016-04-30', 'D'), 500, 8000)

(Period('2016-06-01', 'D'), 500, 8500)

(Period('2016-07-01', 'D'), 500, 9000)

(Period('2016-07-29', 'D'), 500, 9500)

(Period('2016-09-01', 'D'), 500, 10000)

(Period('2016-10-01', 'D'), 500, 10500)

(Period('2016-10-31', 'D'), 500, 11000)

(Period('2016-11-30', 'D'), 500, 11500)

(Period('2016-12-30', 'D'), 500, 12000)

(Period('2017-01-27', 'D'), 500, 12500)

(Period('2017-02-28', 'D'), 500, 13000)

(Period('2017-04-01', 'D'), 500, 13500)

(Period('2017-04-29', 'D'), 500, 14000)

(Period('2017-05-31', 'D'), 500, 14500)

(Period('2017-06-30', 'D'), 500, 15000)

(Period('2017-08-01', 'D'), 500, 15500)

(Period('2017-08-31', 'D'), 500, 16000)

(Period('2017-09-30', 'D'), 500, 16500)

(Period('2017-11-01', 'D'), 500, 17000)

(Period('2017-12-01', 'D'), 500, 17500)

(Period('2017-12-29', 'D'), 500, 18000)

(Period('2018-02-01', 'D'), 500, 18500)

(Period('2018-03-01', 'D'), 500, 19000)

(Period('2018-03-31', 'D'), 500, 19500)

(Period('2018-04-28', 'D'), 500, 20000)

(Period('2018-06-01', 'D'), 500, 20500)

(Period('2018-06-29', 'D'), 500, 21000)

(Period('2018-07-31', 'D'), 500, 21500)

(Period('2018-09-01', 'D'), 500, 22000)

(Period('2018-09-29', 'D'), 500, 22500)

22500

      index_code   con_code trade_date  weight
0      000905.SH  000988.SZ   20150130   0.260
1      000905.SH  002004.SZ   20150130   0.260
2      000905.SH  600180.SH   20150130   0.140
3      000905.SH  600699.SH   20150130   0.200
4      000905.SH  600151.SH   20150130   0.260
5      000905.SH  002183.SZ   20150130   0.360
6      000905.SH  000541.SZ   20150130   0.190
7      000905.SH  000050.SZ   20150130   0.260
8      000905.SH  002254.SZ   20150130   0.160
9      000905.SH  600161.SH   20150130   0.260
10     000905.SH  600017.SH   20150130   0.250
11     000905.SH  000650.SZ   20150130   0.190
12     000905.SH  002083.SZ   20150130   0.110
13     000905.SH  600021.SH   20150130   0.260
14     000905.SH  601099.SH   20150130   0.980
15     000905.SH  002025.SZ   20150130   0.140
16     000905.SH  600456.SH   20150130   0.130
17     000905.SH  600201.SH   20150130   0.450
18     000905.SH  600869.SH   20150130   0.070
19     000905.SH  000703.SZ   20150130   0.100
20     000905.SH  002179.SZ   20150130   0.210
21     000905.SH  603077.SH   20150130   0.110
22     000905.SH  600616.SH   20150130   0.100
23     000905.SH  600138.SH   20150130   0.300
24     000905.SH  002285.SZ   20150130   0.270
25     000905.SH  000596.SZ   20150130   0.130
26     000905.SH  600433.SH   20150130   0.410
27     000905.SH  002690.SZ   20150130   0.210
28     000905.SH  002216.SZ   20150130   0.120
29     000905.SH  600521.SH   20150130   0.230
...          ...        ...        ...     ...
22470  000905.SH  000541.SZ   20180928   0.119
22471  000905.SH  000536.SZ   20180928   0.103
22472  000905.SH  000528.SZ   20180928   0.262
22473  000905.SH  000519.SZ   20180928   0.165
22474  000905.SH  000513.SZ   20180928   0.293
22475  000905.SH  000501.SZ   20180928   0.124
22476  000905.SH  000488.SZ   20180928   0.262
22477  000905.SH  000426.SZ   20180928   0.133
22478  000905.SH  000418.SZ   20180928   0.313
22479  000905.SH  000401.SZ   20180928   0.311
22480  000905.SH  000400.SZ   20180928   0.170
22481  000905.SH  000158.SZ   20180928   0.114
22482  000905.SH  000156.SZ   20180928   0.156
22483  000905.SH  000090.SZ   20180928   0.128
22484  000905.SH  000089.SZ   20180928   0.264
22485  000905.SH  000078.SZ   20180928   0.190
22486  000905.SH  000066.SZ   20180928   0.354
22487  000905.SH  000062.SZ   20180928   0.133
22488  000905.SH  000061.SZ   20180928   0.105
22489  000905.SH  000049.SZ   20180928   0.094
22490  000905.SH  000039.SZ   20180928   0.319
22491  000905.SH  000031.SZ   20180928   0.191
22492  000905.SH  000028.SZ   20180928   0.208
22493  000905.SH  000027.SZ   20180928   0.197
22494  000905.SH  000025.SZ   20180928   0.048
22495  000905.SH  000021.SZ   20180928   0.137
22496  000905.SH  000012.SZ   20180928   0.166
22497  000905.SH  000009.SZ   20180928   0.304
22498  000905.SH  000008.SZ   20180928   0.303
22499  000905.SH  000006.SZ   20180928   0.164

[22500 rows x 4 columns]