In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
try:
    import empyrical as emp
except:
    emp = None
import tushare as ts
import time
import random

from common.log import *
from common.config import Config
from spider.spider_nasdaq import Spider_nasdaq
from spider.spider_coinmarketcap import Spider_coinmarketcap

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts

import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 10]

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:70% !important; }</style>"))

In [3]:
symbol_list = ['BTC', 'EOS', 'ETH', 'XRP', 'LTC']

date_list = [
    'start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z',
    'start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z',
    'start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z',
    'start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z',
    'start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z',
    'start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z',
]

for symbol in symbol_list[:]:
    print(symbol)
    df = pd.DataFrame()
    for date in date_list:
        print(date)
        _df = pd.read_json('https://www.okex.me/api/spot/v3/instruments/%s-USDT/candles?granularity=86400&%s' % (symbol, date))
        if len(df) == 0:
            df = _df
        else:
            df = df.append(_df, ignore_index=True)
        time.sleep(1)
    df.columns = ['date', 'open', 'high', 'low', 'close', 'volumn']
    df['date'] = df['date'].apply(pd.to_datetime)
    df['date'] = df['date'] + pd.Timedelta(hours=8)
    df.head(2)
    df.tail(2)

    datafile = '../database/market/%s_OKEX.csv' % symbol
    df.to_csv(datafile, header=['date', 'open', 'high', 'low', 'close', 'volume'], index=False, encoding='utf-8')

BTC
start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z
start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z
start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z
start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z
start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z
start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z

        date    open    high     low   close         volumn
0 2019-06-04  8475.0  8586.3  7768.0  8016.9  119930.382848
1 2019-06-03  8678.3  8760.0  8325.3  8472.4  122119.295685

          date    open    high     low   close     volumn
600 2017-10-12  4901.0  4999.0  4790.0  4989.0   0.580096
601 2017-10-11     1.0  4901.0     1.0  4901.0  19.260000

EOS
start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z
start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z
start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z
start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z
start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z
start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z

        date   open   high    low  close        volumn
0 2019-06-04  7.266  7.362  6.400  6.832  2.751441e+07
1 2019-06-03  7.698  7.778  7.108  7.270  2.294953e+07

          date      open    high       low   close      volumn
560 2017-11-21  1.925600  2.5000  1.900000  2.0300  115812.596
561 2017-11-20  1.673155  1.9256  1.673155  1.9256       0.000

ETH
start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z
start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z
start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z
start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z
start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z
start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z

        date    open   high     low   close        volumn
0 2019-06-04  259.57  262.0  239.64  250.04  1.068664e+06
1 2019-06-03  267.79  270.6  254.74  259.66  9.621043e+05

          date   open   high    low  close      volumn
600 2017-10-12  300.0  300.0  285.0  285.0    0.333267
601 2017-10-11    1.0  310.0    1.0  300.0  260.826000

XRP
start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z
start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z
start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z
start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z
start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z
start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z

        date    open    high     low   close        volumn
0 2019-06-04  0.4407  0.4484  0.3950  0.4157  1.847778e+08
1 2019-06-03  0.4381  0.4650  0.4285  0.4408  2.206324e+08

          date     open     high      low    close  volumn
569 2017-11-12  0.21055  0.21055  0.21055  0.21055     0.0
570 2017-11-11  0.21055  0.21055  0.21055  0.21055     0.0

LTC
start=2019-07-01T00%3A00%3A00.000Z&end=2020-01-01T00%3A00%3A00.000Z
start=2019-01-01T00%3A00%3A00.000Z&end=2019-07-01T00%3A00%3A00.000Z
start=2018-07-01T00%3A00%3A00.000Z&end=2019-01-01T00%3A00%3A00.000Z
start=2018-01-01T00%3A00%3A00.000Z&end=2018-07-01T00%3A00%3A00.000Z
start=2017-07-01T00%3A00%3A00.000Z&end=2018-01-01T00%3A00%3A00.000Z
start=2017-01-01T00%3A00%3A00.000Z&end=2017-07-01T00%3A00%3A00.000Z

        date    open    high     low   close        volumn
0 2019-06-04  111.08  113.15  100.51  105.75  1.115219e+06
1 2019-06-03  113.71  116.18  108.83  111.08  7.375051e+05

          date   open   high   low  close       volumn
579 2017-11-02  55.00  55.01  50.0  52.55  3024.644452
580 2017-11-01  55.59  55.59  55.0  55.00     1.434000