In [2]:
import pandas as pd
# import empyrical as emp

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [22]:
%%time

df = pd.DataFrame([1], columns=['A'])
df

# df = pd.DataFrame(columns=['A'])
# for i in range(3000):
#     df = df.append({'A': i}, ignore_index=True)
# print(df)

df = pd.DataFrame([1], columns=['A'])
for i in range(1000 * 20):
    dd = pd.DataFrame([i], columns=['A'])
    df = pd.concat([df, dd], ignore_index=True)
# print(df)

CPU times: user 40.1 s, sys: 27 ms, total: 40.1 s
Wall time: 40.4 s

In [6]:
df = pd.DataFrame(
#     index=pd.date_range('2018-04-18', '2018-06-06'),
    index = pd.period_range('2018-04-18', '2018-06-06', freq='D'),
)
df['turtle'] = [106094,
 101565,
 100946,
 101904,
 100412,
 98764,
 102296,
 100789,
 100209,
 101640,
 101935,
 102689,
 104078,
 103725,
 105023,
 106489,
 105952,
 105335,
 104822,
 104592,
 102981,
 103501,
 105050,
 104449,
 102568,
 103617,
 102132,
 102511,
 105126,
 105927,
 106489,
 107741,
 107895,
 107732,
 106690,
 106788,
 106730,
 106586,
 106889,
 107466,
 106342,
 108204,
 108272,
 107663,
 108524,
 108830,
 108984,
 110214,
 110919,
 111644]

df['benchmark'] = [6488,
 6493,
 6528,
 6448,
 6326,
 6619,
 6514,
 6488,
 6585,
 6578,
 6627,
 6696,
 6675,
 6738,
 6824,
 6793,
 6754,
 6699,
 6680,
 6514,
 6606,
 6748,
 6669,
 6592,
 6694,
 6608,
 6618,
 6803,
 6813,
 6830,
 6909,
 6948,
 6977,
 6909,
 6892,
 6905,
 6876,
 6920,
 6934,
 6847,
 6951,
 6951,
 6928,
 6955,
 6969,
 7010,
 7099,
 7162,
 7180,
 7212]

df['turtle_pct'] = df.turtle.pct_change()
df['benchmark_pct'] = df.benchmark.pct_change()
# emp.cum_returns(df.turtle_pct)
# emp.cum_returns(df.benchmark_pct)
emp.max_drawdown(df.turtle_pct)
emp.annual_return(df.turtle_pct)
emp.annual_volatility(df.turtle_pct, period='daily')
emp.calmar_ratio(df.turtle_pct)
emp.sharpe_ratio(returns=df.turtle_pct)



d = pd.Period('2018-04-18', 'D')
d

%timeit df.loc[d].turtle


%timeit ccc = df.loc[d]

ccc = df.loc[d]
%timeit ccc.turtle


arr = df.to_records()
# arr

%timeit arr[arr.index==d][0].turtle



d = {'a':1}
d
d.get('a')
t = d.get('b')
print(t)
d.clear()
d

# arr.index
# for i in df.index:
#     i
#     arr[arr.index==i]
#     arr[arr.index==i].turtle
#     arr[arr.index==i][0]
#     arr[arr.index==i][0].turtle
#     break

-0.06908967519369626

0.29303001006627349

0.20126031221825255

4.2412995754394505

1.4024897997413097

Period('2018-04-18', 'D')

300 µs ± 18.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
265 µs ± 27.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
18.4 µs ± 2.29 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)
1.66 ms ± 139 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

{'a': 1}

1

None

{}

In [ ]:
pd.period_range(start='2018-01-01', end='2018-06-01', freq='D')
dt = pd.to_datetime('2018-06-01') - pd.to_datetime('2018-01-01')
dt.days
365 / dt.days

In [3]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*2)
df

df[df.a == 3]
df[df.a == 3].index
# %timeit len(df[df.a == 3])
# df.index.where(4)
df.index.get_loc(3)

n = df.values

n[df.index.get_loc(3)]

# n[n[:, 0] == 3]
# n[(n[:, 0] == 3) & (n[:, 1] == 6)]
# # %timeit len(n[n[:, 0] == 3])

# type(df.columns)

   a   b
0  1   2
1  3   6
2  5  10
3  1   2
4  3   6
5  5  10

   a  b
1  3  6
4  3  6

Int64Index([1, 4], dtype='int64')

3

array([1, 2], dtype=int64)

In [ ]:
%%timeit
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*10)
# df['c'] = df.a[1:3] - df.b[1:3].values
print(df)

# df['c'] = pd.np.nan

# %timeit df.loc[:2, 'c'] = (df.a[1:3] - df.b[1:3].values).reset_index(drop=True)

# df.loc[3:5, 'c'] = df.a[1:3] - df.b[1:3].values

# df.c[3:5] = df.a[1:3] - df.b[1:3].values

# df.loc[3:5, 'c'] = df.a[1:3].values - df.b[1:3].values

# df[1:3].c = df.a[1:3] - df.b[1:3].values

# print(df)

# c = df.c[3:5]
# print(type(c))
# print(c)

# v = df.a[1:3].values - df.b[1:3].values
# print(type(v))
# print(v)

# s = df.a[1:3] - df.b[1:3].values
# print(type(s))
# print(s)
# print(s.reset_index(drop=True))
# df['c'] = df['c'].apply(lambda x: 'UP' if x < 0 else 'DOWN')
# df

# print(df['b'].shift(1))
# print(df['b'])
# s = df['b'] - df['b'].shift(1)
# s = s.reset_index(drop=True, inplace=True)
# s.shift(-1)
# print(s)

# print(df['b'].diff(1))
# print(df['b'].diff(4))

# %timeit df.loc[2, 'b'] - df.shift(2).loc[2, 'b']
# print(df.shift(2).loc[2])

# df['b'].rolling(2).mean()
# df['b'].rolling(10).max()
df['b'].rolling(10).min()

In [ ]:
import numpy as np
arr = np.array([[2,3,1,0], [2,3,1,0], [3,2,1,1]])
%timeit d = len(arr)
%timeit f = arr.shape[0]
%timeit c = d

In [ ]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*1000)
# df

%timeit df['b'].rolling(10).min()
%timeit df.loc[:, 'b'].rolling(10).min()
%timeit df['b'].rolling(20).min()
# %timeit df['b'].rolling(20).min()
# %timeit min(df.loc[i-10:i, 'b'])

%timeit '2931' not in df.index

In [ ]:
%%timeit
for i in df.index:
    d = min(df.loc[i-10:i, 'b'])

In [ ]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*3)
df = df.drop(index=5)
df

today = 6
df.shift(1).loc[today, 'b']