In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*2)
df

   a   b
0  1   2
1  3   6
2  5  10
3  1   2
4  3   6
5  5  10

In [3]:
# %%timeit
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*2)
# df['c'] = df.a[1:3] - df.b[1:3].values
print(df)

# df['c'] = pd.np.nan

# %timeit df.loc[:2, 'c'] = (df.a[1:3] - df.b[1:3].values).reset_index(drop=True)

# df.loc[3:5, 'c'] = df.a[1:3] - df.b[1:3].values

# df.c[3:5] = df.a[1:3] - df.b[1:3].values

# df.loc[3:5, 'c'] = df.a[1:3].values - df.b[1:3].values

# df[1:3].c = df.a[1:3] - df.b[1:3].values

# print(df)

# c = df.c[3:5]
# print(type(c))
# print(c)

# v = df.a[1:3].values - df.b[1:3].values
# print(type(v))
# print(v)

# s = df.a[1:3] - df.b[1:3].values
# print(type(s))
# print(s)
# print(s.reset_index(drop=True))
# df['c'] = df['c'].apply(lambda x: 'UP' if x < 0 else 'DOWN')
# df

print(df['b'].shift(1))
print(df['b'])
s = df['b'] - df['b'].shift(1)
# s = s.reset_index(drop=True, inplace=True)
# s.shift(-1)
print(s)
print(df['b'].diff(1))

   a   b
0  1   2
1  3   6
2  5  10
3  1   2
4  3   6
5  5  10
0     NaN
1     2.0
2     6.0
3    10.0
4     2.0
5     6.0
Name: b, dtype: float64
0     2
1     6
2    10
3     2
4     6
5    10
Name: b, dtype: int64
0    NaN
1    4.0
2    4.0
3   -8.0
4    4.0
5    4.0
Name: b, dtype: float64
0    NaN
1    4.0
2    4.0
3   -8.0
4    4.0
5    4.0
Name: b, dtype: float64

In [5]:
l = [[1,2], [2,3]]
for t in l:
    if t[0] > 1:
        l.remove(t)
l

[[1, 2]]

In [14]:
import numpy as np
arr = np.array([[2,3,1,0], [2,3,1,0], [3,2,1,1]])
%timeit d = len(arr)
%timeit f = arr.shape[0]
%timeit c = d

85.3 ns ± 4.24 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
116 ns ± 1.47 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
26.6 ns ± 0.13 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)