In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*2)
df

# int(df.loc[:10, 'b'].tail(1))

   a   b
0  1   2
1  3   6
2  5  10
3  1   2
4  3   6
5  5  10

In [ ]:
# %%timeit
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*10)
# df['c'] = df.a[1:3] - df.b[1:3].values
print(df)

# df['c'] = pd.np.nan

# %timeit df.loc[:2, 'c'] = (df.a[1:3] - df.b[1:3].values).reset_index(drop=True)

# df.loc[3:5, 'c'] = df.a[1:3] - df.b[1:3].values

# df.c[3:5] = df.a[1:3] - df.b[1:3].values

# df.loc[3:5, 'c'] = df.a[1:3].values - df.b[1:3].values

# df[1:3].c = df.a[1:3] - df.b[1:3].values

# print(df)

# c = df.c[3:5]
# print(type(c))
# print(c)

# v = df.a[1:3].values - df.b[1:3].values
# print(type(v))
# print(v)

# s = df.a[1:3] - df.b[1:3].values
# print(type(s))
# print(s)
# print(s.reset_index(drop=True))
# df['c'] = df['c'].apply(lambda x: 'UP' if x < 0 else 'DOWN')
# df

# print(df['b'].shift(1))
# print(df['b'])
# s = df['b'] - df['b'].shift(1)
# s = s.reset_index(drop=True, inplace=True)
# s.shift(-1)
# print(s)

# print(df['b'].diff(1))
# print(df['b'].diff(4))

# %timeit df.loc[2, 'b'] - df.shift(2).loc[2, 'b']
# print(df.shift(2).loc[2])

# df['b'].rolling(2).mean()
# df['b'].rolling(10).max()
df['b'].rolling(10).min()

In [ ]:
import numpy as np
arr = np.array([[2,3,1,0], [2,3,1,0], [3,2,1,1]])
%timeit d = len(arr)
%timeit f = arr.shape[0]
%timeit c = d

In [19]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*100)
df

%timeit df['b'].rolling(10).min()
%timeit df['b'].rolling(20).min()
%timeit min(df.loc[i-10:i, 'b'])

for i in df.index:
    d = min(df.loc[i-10:i, 'b'])

330 µs ± 20.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
337 µs ± 11.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
165 µs ± 4.12 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [8]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1, 2], [3, 6], [5, 10]]*3)
df = df.drop(index=5)
df

today = 6
df.shift(1).loc[today, 'b']

   a   b
0  1   2
1  3   6
2  5  10
3  1   2
4  3   6
6  1   2
7  3   6
8  5  10

6.0