In [2]:
import pandas as pd

In [6]:
df = pd.read_html('./database/nasdaq_TSLA_20080418_20180416.html')[0]

In [8]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
df

            Date     Open      High       Low   Close    Volume
0          16:00  299.000  299.6600  289.0100  291.21   6338488
1     04/16/2018  299.000  299.6600  289.0100  291.21   6289497
2     04/13/2018  303.600  303.9499  295.9800  300.34   7319225
3     04/12/2018  302.320  303.9500  293.6800  294.08   7595525
4     04/11/2018  300.740  308.9800  299.6600  300.93   7470204
5     04/10/2018  298.970  307.1000  293.6800  304.70  11017010
6     04/09/2018  300.370  309.5000  289.2100  289.66  10241410
7     04/06/2018  301.000  309.2800  295.5000  299.30  13516530
8     04/05/2018  289.340  306.2600  288.2000  305.72  19025860
9     04/04/2018  252.780  288.3700  252.0000  286.94  19880180
10    04/03/2018  269.820  273.3500  254.4900  267.53  18829650
11    04/02/2018  256.260  260.3318  244.5901  252.48  16093290
12    03/29/2018  256.490  270.9599  248.2100  266.13  15014440
13    03/28/2018  264.580  268.6800  252.1000  257.78  20962280
14    03/27/2018  304.000  304.2700  277.1800  279.18  13787060
15    03/26/2018  307.340  307.5900  291.3600  304.18   8364937
16    03/23/2018  311.250  311.6100  300.4500  301.54   6639960
17    03/22/2018  313.890  318.8200  308.1800  309.10   4924928
18    03/21/2018  310.250  322.4400  310.1900  316.53   5954247
19    03/20/2018  314.870  316.2500  308.7600  310.55   4761031
20    03/19/2018  316.500  320.7500  309.6700  313.56   7467890
21    03/16/2018  325.960  327.4000  319.0700  321.35   6113365
22    03/15/2018  329.380  332.8500  321.1000  325.60   6554568
23    03/14/2018  336.760  339.8100  323.9300  326.63   7952152
24    03/13/2018  344.920  345.1200  336.2635  341.84   5960636
25    03/12/2018  328.610  347.2100  326.5000  345.51   8252919
26    03/09/2018  324.100  328.4900  322.3700  327.17   5502779
27    03/08/2018  332.860  333.3000  326.2740  329.10   3514367
28    03/07/2018  325.440  332.5000  321.7400  332.30   5001940
29    03/06/2018  333.750  336.3700  327.0300  328.20   4236483
...          ...      ...       ...       ...     ...       ...
1934  08/10/2010   19.650   19.6500   18.8200   19.03   1281286
1935  08/09/2010   19.900   19.9800   19.4500   19.60    812656
1936  08/06/2010   20.100   20.1601   19.5200   19.59    741838
1937  08/05/2010   21.540   21.5500   20.0500   20.45    796180
1938  08/04/2010   21.950   22.1800   20.8500   21.26    912526
1939  08/03/2010   21.000   21.9500   20.8200   21.95   1230349
1940  08/02/2010   20.500   20.9700   20.3330   20.92    718245
1941  07/30/2010   20.200   20.4400   19.5500   19.94    426830
1942  07/29/2010   20.770   20.8800   20.0000   20.35    615910
1943  07/28/2010   20.550   20.9000   20.5100   20.72    467183
1944  07/27/2010   20.910   21.1800   20.2600   20.55    619675
1945  07/26/2010   21.500   21.5000   20.3000   20.95    922178
1946  07/23/2010   21.190   21.5600   21.0600   21.29    653549
1947  07/22/2010   20.500   21.2500   20.3700   21.00    957271
1948  07/21/2010   20.660   20.9000   19.5000   20.22   1251492
1949  07/20/2010   21.850   21.8500   20.0500   20.30   1824154
1950  07/19/2010   21.370   22.2500   20.9200   21.91   2482680
1951  07/16/2010   20.700   21.3000   20.0500   20.64   2620110
1952  07/15/2010   19.940   21.5000   19.0000   19.89   3741526
1953  07/14/2010   17.940   20.1500   17.7601   19.84   4193210
1954  07/13/2010   17.394   18.6400   16.9000   18.14   2675060
1955  07/12/2010   17.950   18.0700   17.0000   17.05   2198870
1956  07/09/2010   17.580   17.9000   16.5500   17.40   4048537
1957  07/08/2010   16.140   17.5200   15.5700   17.46   7710937
1958  07/07/2010   16.400   16.6300   14.9800   15.80   6910699
1959  07/06/2010   20.000   20.0000   15.8300   16.11   6858092
1960  07/02/2010   23.000   23.1000   18.7100   19.20   5135795
1961  07/01/2010   25.000   25.9200   20.2700   21.96   8216789
1962  06/30/2010   25.790   30.4192   23.3000   23.83  17165210
1963  06/29/2010   19.000   25.0000   17.5400   23.89  18751150

[1964 rows x 6 columns]

In [ ]:
import matplotlib
import matplotlib.plot as plt