In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

import pandas as pd
import empyrical as emp
import time
import random
# from concurrent.futures import ProcessPoolExecutor

from common.log import *
from common.config import Config
from spider.spider_nasdaq import Spider_nasdaq

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts

CONF = Config().data[0]
MONGODB = CONF['MONGODB']
NASDAQ = CONF['NASDAQ']
CRYPTOCURRENCY = CONF['CRYPTOCURRENCY']
NASDAQ100 = CONF['NASDAQ100']

pd

In [2]:
%%time

spider = Spider_nasdaq()
timeframe = '10y'
ignore = True

# for symbol in NASDAQ100:
for symbol in ['NDX', 'TSLA']:
#     if symbol == 'SHPG':
#         ignore = False
#     if ignore:
#         continue
#     datafile = spider.get_stock_data(symbol, timeframe)
#     print(datafile)
    pass

Wall time: 0 ns

In [3]:
%%time

### 时间设置
start_date = '2008-06-02'
start_date = '2010-01-01'
# start_date = '2015-01-01'
# start_date = '2017-01-03'
start_date = '2018-01-01'
end_date = '2018-06-01'

TURTLE_POS = 20
### Turtle System One - Short
TURTLE_SHORT_BUY_N = 20
TURTLE_SHORT_SELL_N = 20
### Turtle System Two - Long
TURTLE_LONG_BUY_N = 60
TURTLE_LONG_SELL_N = 60

### 业务设置
IS_HAPPYMONEY = False
IS_TAX = False
IS_SLIPPAGE = True
IS_RANDOM_BUY = True
START_MONEY = 100000
HAPPY_MONEY = 0
PROPERTY = START_MONEY
CASH = START_MONEY

Wall time: 0 ns

In [4]:
%%time

stock_df_dict = {}

for symbol in NASDAQ100[:]:
    stock_data_file = '../database/market/%s.csv' % symbol
    stock_df = pd.read_csv(stock_data_file)

    # 筛选字段
#     stock_df = stock_df.loc[:, ['date', 'open', 'close']]

    # 去掉Nasdaq行情首行的当天行情
    if symbol in NASDAQ:
        stock_df = stock_df.drop([0])

    # 抛弃空值异常值
    stock_df.dropna(axis=0, how='any', inplace=True)

    # 格式化日期
    # 1.48 s ± 45.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
#     stock_df['date'] = stock_df['date'].apply(lambda x: pd.Period(x, freq='D'))

    # 445 ms ± 17.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
    stock_df = stock_df.assign(date=pd.to_datetime(stock_df['date']))  # need .index.to_period('D')

    # 476 ms ± 46.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
#     stock_df['date'] = pd.to_datetime(stock_df['date'])  # need .index.to_period('D')
    
    # 转换字段格式
#     stock_df = stock_df.astype(dtype={'volume': 'float64'})

    # 用日期作索引，日期升序排序
    # 95.1 µs ± 1.58 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
    stock_df = stock_df[::-1]
    
    # 407 µs ± 5.07 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
#     %timeit stock_df.set_index(['date'], inplace=False)

    # Wall time: 500 µs
    stock_df.set_index(['date'], inplace=True)
    
    # 305 µs ± 2.75 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
#     stock_df = stock_df.sort_index(axis=0, ascending=True)
    
    # 822 µs ± 41.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
    stock_df.index = stock_df.index.to_period('D')

    # 计算涨跌幅
#     stock_df['c_pct_chg'] = stock_df.close.pct_change(1)
    stock_df['o_pct_chg'] = stock_df.open.pct_change(1)
    
    # Turtle指标
#     stock_df['TR1'] = abs(stock_df['high'] - stock_df['low'])
#     stock_df['TR2'] = abs(stock_df['high'] - stock_df['close'].shift())
#     stock_df['TR3'] = abs(stock_df['low'] - stock_df['close'].shift())
#     stock_df['TR'] = stock_df[['TR1', 'TR2', 'TR3']].max(axis=1)
#     stock_df['N'] = stock_df['TR'].rolling(20).mean()
#     stock_df['UNIT'] = (0.01 * START_MONEY) / (stock_df['N'])
    stock_df['ROLLING_%d_MAX' % TURTLE_SHORT_BUY_N] = stock_df['open'].rolling(TURTLE_SHORT_BUY_N).max()
    stock_df['ROLLING_%d_MIN' % TURTLE_SHORT_SELL_N] = stock_df['open'].rolling(TURTLE_SHORT_SELL_N).min()
    stock_df['ROLLING_%d_MAX' % TURTLE_LONG_BUY_N] = stock_df['open'].rolling(TURTLE_LONG_BUY_N).max()
    stock_df['ROLLING_%d_MIN' % TURTLE_LONG_SELL_N] = stock_df['open'].rolling(TURTLE_LONG_SELL_N).min()
#     stock_df['MA%d' % TURTLE_BUY_N] = stock_df['open'].rolling(TURTLE_BUY_N).mean()
#     stock_df['MA%d' % TURTLE_SELL_N] = stock_df['open'].rolling(TURTLE_SELL_N).mean()
#     stock_df['EWMA'] = stock_df['open'].ewm(alpha=0.1, adjust=False).mean()
#     stock_df['MA360'] = stock_df['open'].rolling(360).mean()
    stock_df['MA180'] = stock_df['open'].rolling(180).mean()
    stock_df['MA60'] = stock_df['open'].rolling(30).mean()
    stock_df['MA30'] = stock_df['open'].rolling(30).mean()
    
#     stock_df['ops'] = ''
#     stock_df['profit'] = 0
    
    # 减少数据
    # stock_df = stock_df['2016-01-01':]
    stock_df.dropna(how='any', inplace=True)
#     stock_df.drop(columns=['volume', 'TR1', 'TR2', 'TR3'], inplace=True)
    
    stock_df_dict[symbol] = stock_df
    
#     print(stock_df.head(10))
#     print(stock_df.dtypes)
#     print(stock_df.index[0])
#     print(type(stock_df.index[0]))

Wall time: 48.7 s

In [5]:
# %matplotlib inline

# import matplotlib
# import matplotlib.pyplot as plt
# plt.rcParams['figure.figsize'] = [30, 20]

# df = stock_df_dict['TSLA'].iloc[800:].copy()
# df.columns
# df.tail(10)
# # df[(df.open == df.rolling_60_max)]
# # df[(df.open >= df.rolling_60_max) & (df.MA30 > df.MA60)]
# # df[(df.MA30 > df.MA60)]

# # df = df.loc[:, ['open', 'ROLLING_60_MAX', 'rolling_30_min', 'MA60', 'MA30']]

# df.reset_index(drop=False, inplace=True)
# df = df.astype(dtype={'date': 'datetime64[ns]'})
# df.set_index('date', inplace=True)
# # df.index.astype()

# display_charts(df, chart_type='stock', kind='line', y=['open', 'ROLLING_60_MAX', 'ROLLING_60_MIN'], figsize=(900, 600), logy=False)

# # display_charts(df)

# # ax = df.plot(kind='line', y=['open', 'rolling_max', 'rolling_min'], label='', linewidth=1)

# # sum_buy_sig_short = 0
# # sum_buy_sig_long = 0
# # for symbol in NASDAQ100:
# #     tdf = stock_df_dict[symbol]
# #     buy_sig_short = tdf[(stock_df_dict[symbol].open == stock_df_dict[symbol]['ROLLING_%d_MAX' % TURTLE_SHORT_BUY_N])]
# #     buy_sig_long = tdf[(stock_df_dict[symbol].open == stock_df_dict[symbol]['ROLLING_%d_MAX' % TURTLE_LONG_BUY_N])]
# #     buy_sig_short_2 = buy_sig_short[buy_sig_short.MA30 >= buy_sig_short.MA180]
# #     buy_sig_long_2 = buy_sig_long[buy_sig_long.MA30 >= buy_sig_long.MA180]
# # #     print(symbol, len(tdf), len(buy_sig_short), len(buy_sig_short_2), len(buy_sig_long), len(buy_sig_long_2))
# #     sum_buy_sig_short += len(buy_sig_short_2)
# #     sum_buy_sig_long += len(buy_sig_long_2)
# # print(len(stock_df_dict['NDX']), sum_buy_sig_short, sum_buy_sig_long)

In [6]:
# algo = stock_df_dict['TSLA'].open.pct_change()
# benchmark = stock_df_dict['NDX'].open.pct_change()

# 'cum_returns', emp.cum_returns(algo)[-1]
# 'max_drawdown', emp.max_drawdown(algo), emp.max_drawdown(benchmark)
# 'annual_return', emp.annual_return(algo), emp.annual_return(benchmark)
# 'annual_volatility', emp.annual_volatility(algo, period='daily')
# 'calmar_ratio', emp.calmar_ratio(algo)
# 'sharpe_ratio', emp.sharpe_ratio(returns=algo)
# 'alpha', emp.alpha(returns=algo, factor_returns=benchmark, risk_free=0.00)
# 'beta', emp.beta(returns=algo, factor_returns=benchmark, risk_free=0.00)

# emp_df = None
# emp_df = pd.DataFrame(columns=[
#     'symbol', 'cum_returns', 'annual_return', 'annual_volatility', 'max_drawdown', 'alpha', 'beta', 'sharpe_ratio', 'calmar_ratio'
# ])

# for symbol in NASDAQ100:
#     algo = stock_df_dict[symbol].open.pct_change()
#     emp_df = emp_df.append(
#         {
#             'symbol': symbol,
#             'cum_returns': emp.cum_returns(algo)[-1],
#             'annual_return': emp.annual_return(algo),
#             'annual_volatility': emp.annual_volatility(algo, period='daily'),
#             'max_drawdown': emp.max_drawdown(algo),
#             'alpha': round(emp.alpha(returns=algo, factor_returns=benchmark, risk_free=0.00), 2),
#             'beta': round(emp.beta(returns=algo, factor_returns=benchmark, risk_free=0.00), 2),
#             'sharpe_ratio': emp.sharpe_ratio(returns=algo),
#             'calmar_ratio': emp.calmar_ratio(algo)
#         },
#         ignore_index=True,
#     )

# # emp_df
# # emp_df.sort_values('cum_returns', ascending=False)
# emp_df.sort_values('sharpe_ratio', ascending=False)

In [7]:
%%time

show_df = None
show_df = stock_df_dict['NDX'].copy()

Wall time: 500 µs

In [13]:
%%time
# %xmode

PROPERTY = START_MONEY
CASH = START_MONEY

order_df = None
order_df = pd.DataFrame(columns=[
    'signal_date', 'signal_reason', 'symbol',
    'buy_date', 'buy_count', 'buy_price',
    'sell_date', 'sell_price', 'sell_reason', 'profit',
    'cash', 'property',
])
count_day = 0
yesterday = None
miss_buy_short = 0
miss_buy_long = 0

for today in pd.period_range(start=start_date, end=end_date, freq='D'):
    count_day += 1
    
    if yesterday is None:
        yesterday = today
        continue

    if today not in stock_df_dict['NDX'].index:
        continue

    if IS_HAPPYMONEY:        
        if PROPERTY > START_MONEY * 2:
            HAPPY_MONEY += 50000
            PROPERTY -= 50000
            CASH = PROPERTY
    
    # 买卖过程
    for symbol in NASDAQ100[:]:
#     for symbol in ['TSLA']:
        if symbol in ['ALGN', 'ROST', 'ORLY', 'ESRX', 'ULTA', 'REGN', 'MNST']:
#             continue
            pass

        if symbol == 'NDX':
            continue
        
        if today not in stock_df_dict[symbol].index or yesterday not in stock_df_dict[symbol].index:
            continue

        today_market = stock_df_dict[symbol].loc[today]
        
        # 突破下行趋势，清仓退出
        order_arr = order_df.to_records(index=False)
        if len(order_arr[(order_arr.symbol == symbol) & (order_arr.buy_count > 0) & (order_arr.sell_price == 0)] ) != 0:
            is_sell = False
            for idx in order_df[(order_df['symbol'] == symbol) & (order_arr.buy_count > 0) & (order_df['sell_price'] == 0)].index:
                cur_order = order_df.loc[idx]
                if cur_order.signal_reason == 'SHORT':
                    is_sell = (today_market.open <= today_market['ROLLING_%d_MIN' % TURTLE_SHORT_SELL_N])
                if cur_order.signal_reason == 'LONG':
                    is_sell = (today_market.open <= today_market['ROLLING_%d_MIN' % TURTLE_LONG_SELL_N])
                if is_sell:
                    CASH += cur_order.buy_count * today_market.open
                    order_df.loc[idx, 'sell_date'] = today
                    order_df.loc[idx, 'sell_price'] = today_market.open
                    order_df.loc[idx, 'sell_reason'] = 'EXIT'
                    order_df.loc[idx, 'profit'] = \
                        (today_market.open - cur_order.buy_price) * cur_order.buy_count
#                 print(today, '退出', stock_df_dict[symbol].loc[today, 'open'], CASH)


        # 突破上行趋势，就买一份
        order_arr = order_df.to_records(index=False)
        if today_market.MA60 >= today_market.MA180:
#         if today_market.MA30 >= today_market.MA180:
            is_buy = False
            if today_market.open >= today_market['ROLLING_%d_MAX' % TURTLE_LONG_BUY_N]:
                is_buy = True
                buy_reason = 'LONG'
            elif False and today_market.open >= today_market['ROLLING_%d_MAX' % TURTLE_SHORT_BUY_N]:
                is_buy = True
                buy_reason = 'SHORT'
                
            if is_buy:
                order_df = order_df.append(
                    {
                        'signal_date': today,
                        'signal_reason': buy_reason,
                        'symbol': symbol,
                        'buy_date': pd.np.nan,
                        'buy_count': 0,
                        'buy_price': today_market.open,
                        'sell_date': pd.np.nan,
                        'sell_price': 0,
                        'sell_reason': pd.np.nan,
                        'profit': 0,
                        'cash': CASH,
                        'property': PROPERTY,
                    },
                    ignore_index=True
                )

    order_arr = order_df.to_records(index=False)
    if len(order_arr[order_arr.signal_date == today]) != 0:
        is_buy = False
        for idx in order_df[order_df['signal_date'] == today].index:
            cur_order = order_df.loc[idx]
            symbol = cur_order['symbol']
            today_market = stock_df_dict[symbol].loc[today]
            buy_count = 0

            if IS_SLIPPAGE:
                buy_price = today_market.open * (1 + random.randint(0, 20) / 1000)
            else:
                buy_price = today_market.open

            if CASH >= START_MONEY / TURTLE_POS:
                buy_count = int((START_MONEY / TURTLE_POS) / buy_price)

            if IS_RANDOM_BUY:
                if random.randint(0, 100) > 50:
                    buy_count = 0

            if buy_count > 0:
                CASH -= buy_count * buy_price
#                     print(today, '建仓', buy_count, stock_df_dict[symbol].loc[today, 'open'], CASH)
                order_df.loc[idx, 'buy_date'] = today
                order_df.loc[idx, 'buy_count'] = buy_count
                order_df.loc[idx, 'buy_price'] = buy_price

            
    # 每天盘点财产
    show_df.loc[today, 'CASH_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)] = CASH
    PROPERTY = CASH + \
        sum(
            [
                stock_df_dict[order_df.loc[idx, 'symbol']][:today].iloc[-1].open * order_df.loc[idx, 'buy_count'] \
                for idx in order_df.loc[order_df['sell_price']==0].index
            ]
        )
    show_df.loc[today, 'PROPERTY_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)] = PROPERTY

    yesterday = today
            

print(CASH)
print(HAPPY_MONEY)
print(PROPERTY)

s_p = stock_df_dict['NDX'][start_date:].iloc[0].open
e_p = stock_df_dict['NDX'].iloc[-1].open
print('NDX', s_p, e_p, e_p / s_p)

1810.77025
0
101140.61025
NDX 6431.589 7063.998 1.0983285779
Wall time: 1min 9s

In [9]:
order_df
# order_df[order_df['buy_count'] != 0]

,signal_date,signal_reason,symbol,buy_date,buy_count,buy_price,sell_date,sell_price,sell_reason,profit,cash,property
0,2018-01-03,LONG,CTXS,NaT,0,88.90000,NaT,0,NaN,0,100000,100000
1,2018-01-03,LONG,ESRX,2018-01-03,65,75.98676,2018-03-22,71.18,EXIT,-312.439,100000,100000
2,2018-01-03,LONG,JBHT,NaT,0,116.33000,NaT,0,NaN,0,100000,100000
3,2018-01-03,LONG,MYL,NaT,0,42.85000,NaT,0,NaN,0,100000,100000
4,2018-01-03,LONG,NFLX,2018-01-03,24,203.26230,NaT,0,NaN,0,100000,100000
5,2018-01-03,LONG,STX,NaT,0,42.93000,NaT,0,NaN,0,100000,100000
6,2018-01-03,LONG,TXN,NaT,0,105.88000,NaT,0,NaN,0,100000,100000
7,2018-01-03,LONG,FOXA,2018-01-03,136,36.67381,NaT,0,NaN,0,100000,100000
8,2018-01-03,LONG,FOX,2018-01-03,141,35.40537,NaT,0,NaN,0,100000,100000
9,2018-01-04,LONG,GOOGL,NaT,0,1097.09000,NaT,0,NaN,0,80202.8,99819.2
10,2018-01-04,LONG,GOOG,2018-01-04,4,1099.96800,2018-03-28,998,EXIT,-407.872,80202.8,99819.2
11,2018-01-04,LONG,AMZN,NaT,0,1205.00000,NaT,0,NaN,0,80202.8,99819.2
12,2018-01-04,LONG,CSCO,2018-01-04,127,39.20620,NaT,0,NaN,0,80202.8,99819.2
13,2018-01-04,LONG,CTXS,2018-01-04,55,90.54000,NaT,0,NaN,0,80202.8,99819.2
14,2018-01-04,LONG,EBAY,NaT,0,39.42000,NaT,0,NaN,0,80202.8,99819.2
15,2018-01-04,LONG,ESRX,2018-01-04,65,75.89000,2018-03-22,71.18,EXIT,-306.15,80202.8,99819.2
16,2018-01-04,LONG,FB,NaT,0,184.90000,NaT,0,NaN,0,80202.8,99819.2
17,2018-01-04,LONG,HOLX,2018-01-04,112,44.39435,2018-02-09,35.62,EXIT,-982.727,80202.8,99819.2
18,2018-01-04,LONG,ILMN,NaT,0,231.83000,NaT,0,NaN,0,80202.8,99819.2
19,2018-01-04,LONG,JBHT,NaT,0,117.17000,NaT,0,NaN,0,80202.8,99819.2
20,2018-01-04,LONG,LBTYA,NaT,0,36.34000,NaT,0,NaN,0,80202.8,99819.2
21,2018-01-04,LONG,LBTYK,2018-01-04,144,34.66245,2018-04-04,29.94,EXIT,-680.033,80202.8,99819.2
22,2018-01-04,LONG,MAR,NaT,0,136.85000,NaT,0,NaN,0,80202.8,99819.2
23,2018-01-04,LONG,MELI,2018-01-04,14,334.83835,2018-04-12,331.05,EXIT,-53.0369,80202.8,99819.2
24,2018-01-04,LONG,MYL,2018-01-04,114,43.73006,2018-04-26,39.1,EXIT,-527.827,80202.8,99819.2
25,2018-01-04,LONG,NFLX,NaT,0,206.20000,NaT,0,NaN,0,80202.8,99819.2
26,2018-01-04,LONG,TXN,NaT,0,108.48000,NaT,0,NaN,0,80202.8,99819.2
27,2018-01-04,LONG,FOXA,NaT,0,36.67000,NaT,0,NaN,0,80202.8,99819.2
28,2018-01-04,LONG,FOX,2018-01-04,137,36.23232,NaT,0,NaN,0,80202.8,99819.2
29,2018-01-05,LONG,GOOGL,2018-01-05,4,1107.86380,2018-03-28,1001.91,EXIT,-423.815,36310.8,99919.2
...,...,...,...,...,...,...,...,...,...,...,...,...
822,2018-05-25,LONG,FOX,NaT,0,38.44000,NaT,0,NaN,0,44.0973,104839
823,2018-05-29,LONG,ALGN,NaT,0,318.19000,NaT,0,NaN,0,44.0973,105202
824,2018-05-29,LONG,NFLX,NaT,0,351.50000,NaT,0,NaN,0,44.0973,105202
825,2018-05-30,LONG,ALGN,NaT,0,327.92000,NaT,0,NaN,0,44.0973,104523
826,2018-05-30,LONG,ADP,NaT,0,130.57000,NaT,0,NaN,0,44.0973,104523
827,2018-05-30,LONG,INTC,NaT,0,55.89000,NaT,0,NaN,0,44.0973,104523
828,2018-05-30,LONG,INTU,NaT,0,198.05000,NaT,0,NaN,0,44.0973,104523
829,2018-05-30,LONG,MU,NaT,0,63.70000,NaT,0,NaN,0,44.0973,104523
830,2018-05-30,LONG,NFLX,NaT,0,352.37000,NaT,0,NaN,0,44.0973,104523
831,2018-05-30,LONG,FOX,NaT,0,38.51000,NaT,0,NaN,0,44.0973,104523
832,2018-05-31,LONG,ADBE,NaT,0,247.11000,NaT,0,NaN,0,44.0973,105386
833,2018-05-31,LONG,ALGN,NaT,0,331.70000,NaT,0,NaN,0,44.0973,105386
834,2018-05-31,LONG,ADP,NaT,0,130.92000,NaT,0,NaN,0,44.0973,105386
835,2018-05-31,LONG,COST,NaT,0,200.22000,NaT,0,NaN,0,44.0973,105386
836,2018-05-31,LONG,CSX,NaT,0,65.56000,NaT,0,NaN,0,44.0973,105386
837,2018-05-31,LONG,FB,NaT,0,187.87000,NaT,0,NaN,0,44.0973,105386
838,2018-05-31,LONG,INTU,NaT,0,200.90000,NaT,0,NaN,0,44.0973,105386
839,2018-05-31,LONG,JBHT,NaT,0,129.37000,NaT,0,NaN,0,44.0973,105386
840,2018-05-31,LONG,MSFT,NaT,0,99.29000,NaT,0,NaN,0,44.0973,105386
841,2018-05-31,LONG,NFLX,NaT,0,353.80000,NaT,0,NaN,0,44.0973,105386
842,2018-05-31,LONG,SIRI,NaT,0,7.15000,NaT,0,NaN,0,44.0973,105386
843,2018-06-01,LONG,ADBE,NaT,0,250.55000,NaT,0,NaN,0,44.0973,105545
844,2018-06-01,LONG,ALGN,NaT,0,333.17000,NaT,0,NaN,0,44.0973,105545
845,2018-06-01,LONG,AMZN,NaT,0,1637.03000,NaT,0,NaN,0,44.0973,105545
846,2018-06-01,LONG,ADI,NaT,0,97.68000,NaT,0,NaN,0,44.0973,105545
847,2018-06-01,LONG,FB,NaT,0,193.06500,NaT,0,NaN,0,44.0973,105545
848,2018-06-01,LONG,ILMN,NaT,0,274.61000,NaT,0,NaN,0,44.0973,105545
849,2018-06-01,LONG,INTU,NaT,0,202.28000,NaT,0,NaN,0,44.0973,105545
850,2018-06-01,LONG,NFLX,NaT,0,353.88000,NaT,0,NaN,0,44.0973,105545
851,2018-06-01,LONG,TXN,NaT,0,112.55000,NaT,0,NaN,0,44.0973,105545

In [10]:
'ALL'
'start_date', start_date
'end_date', end_date
'TURTLE_POS', TURTLE_POS
'TURTLE_SHORT_BUY_N', TURTLE_SHORT_BUY_N
'TURTLE_SHORT_SELL_N', TURTLE_SHORT_SELL_N
'TURTLE_LONG_BUY_N', TURTLE_LONG_BUY_N
'TURTLE_LONG_SELL_N', TURTLE_LONG_SELL_N
'IS_HAPPYMONEY', IS_HAPPYMONEY
'IS_TAX', IS_TAX
'IS_SLIPPAGE', IS_SLIPPAGE
'IS_RANDOM_BUY', IS_RANDOM_BUY
'START_MONEY', START_MONEY

'len(order_df)', len(order_df)
sum_profit = sum(list(order_df['profit']))
'sum_profit', sum_profit
# sum_tax = sum(list(order_df_TB['tax']))
sum_tax = 0
'sum_tax', sum_tax
'win rate', len(order_df[order_df.profit > 0]) / len(order_df[order_df.profit != 0])
# 'REWARD', ((sum_profit - sum_tax) / START_MONEY + 1) ** (365 / count_day)
'len(order_df[order_df.profit != 0])', len(order_df[order_df.profit != 0])
'len(order_df[order_df.profit > 0])', len(order_df[order_df.profit > 0])
'order LONG', len(order_df[order_df.buy_reason == 'LONG'])
len(order_df[(order_df.buy_reason == 'LONG') & (order_df.profit > 0)])
sum(list(order_df[order_df.buy_reason == 'LONG']['profit']))
'order SHORT', len(order_df[order_df.buy_reason == 'SHORT'])
len(order_df[(order_df.buy_reason == 'SHORT') & (order_df.profit > 0)])
sum(list(order_df[order_df.buy_reason == 'SHORT']['profit']))

# order_df
# order_df.loc[order_df['sell_price']==0]

calc_df = order_df.copy()
calc_df['profit_pct'] = calc_df['profit'] / (calc_df['buy_count'] * calc_df['buy_price'])
# calc_df[calc_df.symbol == 'BIDU']
# calc_df[calc_df.profit > 0]
# calc_df

# order_df[order_df.profit > 0]

# csv_file = 'E:/Dev/result/T_TURTLE_POS%d_TURTLE_BUY_N%d_TURTLE_SELL_N%d_START_MONEY%d_%s_%s.csv' % \
#     (TURTLE_POS, TURTLE_BUY_N, TURTLE_SELL_N, START_MONEY, start_date, end_date)
# calc_df.to_csv(csv_file)

# list(show_df.dropna(how='any', inplace=False).PROPERTY_TURTLE_20_60_60.apply(int).tail(50))
# list(show_df.open.apply(int).tail(50))

df = show_df.dropna(how='any', inplace=False).copy()
algo = df['PROPERTY_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)].pct_change()
benchmark = df.open.pct_change()

'cum_returns', emp.cum_returns(algo)[-1], emp.cum_returns(benchmark)[-1]
'max_drawdown', emp.max_drawdown(algo), emp.max_drawdown(benchmark)
'annual_return', emp.annual_return(algo), emp.annual_return(benchmark)
'annual_volatility', emp.annual_volatility(algo, period='daily')
'calmar_ratio', emp.calmar_ratio(algo)
'sharpe_ratio', emp.sharpe_ratio(returns=algo)
'alpha', emp.alpha(returns=algo, factor_returns=benchmark, risk_free=0.00)
'beta', emp.beta(returns=algo, factor_returns=benchmark, risk_free=0.00)

'ALL DAY', len(df)
'CASH_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)
'PROPERTY_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)
'CASH NOT USED DAY', \
    len(df[df['CASH_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)] > \
           df['PROPERTY_TURTLE_%d_%d_%d' % (TURTLE_POS, TURTLE_LONG_BUY_N, TURTLE_LONG_SELL_N)] / TURTLE_POS])
'MISS_BUY_SIGNAL_LONG', miss_buy_long
'MISS_BUY_SIGNAL_SHORT', miss_buy_short

'ALL'

('start_date', '2018-01-01')

('end_date', '2018-06-01')

('TURTLE_POS', 20)

('TURTLE_SHORT_BUY_N', 20)

('TURTLE_SHORT_SELL_N', 20)

('TURTLE_LONG_BUY_N', 60)

('TURTLE_LONG_SELL_N', 60)

('IS_HAPPYMONEY', False)

('IS_TAX', False)

('IS_SLIPPAGE', True)

('IS_RANDOM_BUY', True)

('START_MONEY', 100000)

('len(order_df)', 852)

('sum_profit', -6029.9641199999951)

('sum_tax', 0)

('win rate', 0.0)

('len(order_df[order_df.profit != 0])', 12)

('len(order_df[order_df.profit > 0])', 0)

AttributeError: 'DataFrame' object has no attribute 'buy_reason'

In [ ]:
bad_stock_cnt = 0
s_p = stock_df_dict['NDX'][start_date:].iloc[0].open
e_p = stock_df_dict['NDX'].iloc[-1].open
benchmark_return = e_p / s_p
for symbol, stock_df in stock_df_dict.items():
    df = stock_df.loc[start_date:end_date, 'close']
#     print(df)
    s_p = df.head(1).values
    e_p = df.tail(1).values
#     print(symbol, s_p, e_p, e_p / s_p)
    if e_p / s_p < benchmark_return:
        bad_stock_cnt += 1
bad_stock_cnt

In [ ]:
%matplotlib inline

import sys
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 10]

# order_df_TB
bar_df = order_df.copy()
df = bar_df.sort_values(by=['profit'])
# df

bins = [100 * x for x in range(-200, 500)]
# bins

cats = pd.cut(df['profit'], bins)
# cats

def get_stats(group):
    return {'count': group.count()}

grouped = df['profit'].groupby(cats)
bin_counts = grouped.apply(get_stats).unstack()
bin_counts.reset_index(inplace=True, drop=False)
bin_counts['profit'] = bin_counts['profit'].apply(str)
# bin_counts

# df['profit'].hist(bins=10)

# bin_counts.plot(kind='barh', alpha=0.5, rot=0)

# display_charts(bin_counts, kind='bar', x='profit', figsize=(900, 600), logy=True)

In [ ]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 10]

df = show_df.dropna(how='any', inplace=False).copy()
# df.drop(columns=['open', 'high', 'low', 'o_pct_chg', 'TR', 'N'], inplace=True)
df.columns

df['close'] = (df['close'] - df.iloc[0]['close']) / df.iloc[0]['close']
ax = df.plot(kind='line', y='close', label='NDX_%.2f' % df.iloc[-1]['close'], linewidth=1, grid=True)
for col in sorted(df.columns):
    if 'PROPERTY' in col:
        df[col] = (df[col] - df.iloc[1][col]) / df.iloc[0][col]
        ax = df.plot(kind='line', y=col, secondary_y=False, label='%s_%.2f' % (col, df.iloc[-1][col]), linewidth=1, grid=True, ax=ax)

# display_charts(df, kind='line', figsize=(900, 600), logy=False)